# =========================
# Testing
# =========================
pytest

# =========================
# Code formatting
# =========================
black
isort

# =========================
# Notebook / interactive
# =========================
jupyter
ipykernel